html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-top: 50px;
}

.robot {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.robot-body {
  width: 320px;
  display: block;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 5px;
  left: 42.5%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -37px;
}

.robot-head-left {
  left: 11.5%;
}

.robot-head-right {
  right: 11.5%;
}

.robot:hover .robot-head-left {
  top: -50px;
  left: -2%;
}

.robot:hover .robot-head-right {
  top: -50px;
  right: -2%;
}

.robot:hover .robot-brain {
  top: -17px;
}
